.body{
    margin: 0;
    background-color: rgb(236, 236, 236);
}
.about{
    padding: 0 70px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.headings{
    font-size: 40px;
    color: navy;
    font-weight: bolder;
    margin-top: 15px;
    font-family: 'Doppio One';  
}
.para{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0 20px;
    margin-top: -20px;

}
.list{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0 20px;

}
.textleft, .textright, .imageleft, .imageright {
    width: 48%;
}
.imageleft img, .imageright img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.textleft {
    text-align: left;
}

.imageright {
    text-align: right;
}

.textright {
    text-align: right;
}

.imageleft {
    text-align: left;
}
.sec {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
}
.pagetitile{
    font-size: 50px;
    color: #462446;
    font-family: 'Doppio One';
    text-align: center;
}
