/* Container styling */
.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Table styling */
.admin-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
}

.admin-table th, 
.admin-table td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid black;
    font-size: 16px;
}

.admin-table th {
    background-color: rgba(251, 255, 0, 0.682); /* Light blue background for the header */
    color: black(0, 71%, 1%);
    font-weight: bold;
}

.admin-table tr:nth-child(even) {
    background-color: white(0, 0, 0, 0.05); /* Light grey background for even rows */
}

.admin-table tr:hover {
    background-color: rgba(212, 255, 0, 0.2); /* Highlight the row on hover */
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
    .admin-table {
        font-size: 14px;
    }

    .admin-table th, 
    .admin-table td {
        padding: 8px;
    }
}
