body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

.display {
    border: 2px solid rgb(102, 101, 52); 
    border-radius: 5px; 
    padding: 15px;
    margin: 20px auto;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    width: 300px; 
}


fieldset.display h1,
fieldset.display h2 {
    margin: 5px 0; 
    color: black; 
    text-align: center; 
}


.editbtn{
    background-color: rgb(102, 101, 52); 
    color: white; 
    border: none; 
    padding: 8px 12px; 
    text-align: center; 
    text-decoration: none; 
    display: block; 
    margin: 10px auto; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}


.editbtn:hover {
    background-color: black; 
}

